

{% extends 'fscohort/base.html' %}

{% block title %}
home page
{% endblock title %}

{% block content %}
<h1>Hello, this is home page.</h1>
<a href="{% url 'add' %}"><button>Add student</button></a>
<a href="{% url 'list' %}"><button>Student List</button></a>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> -->
      <!-- <form action="https://www.google.com.tr/search", method="GET">
          <input type="text", name="title", placeholder="title">
          <input type="submit", value="Search">
      </form> -->
      <!-- <form action="." method="GET">
{{ form }}
      </form> -->
    <!-- <h1>Emre KAPAN</h1> -->
    <!-- {{ title }} <br />
    {{ dict_1 }} <br />
    {{ my_list }} <br />
    {% for i in my_list %} 
    {{ i }}
    {% endfor %}
     -->


  <!-- </body>
</html> -->


  

